@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}




body {
    background-color: white;
}

p {
    line-height: 1.5;
}





header {
    background-color: white;
    color: black;

}

.container {
    width: 80vw;
    margin: 0px auto;





}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

nav ul li a {
    text-decoration: none;
}

nav ul li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    padding: 16px 12px;
    color: black;
}

.logo p {
    padding: 16px;
    color: #F29200;
}


/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./image/connexion-photo.avif);
    background-repeat: no-repeat;
    background-size: cover;
} */